.dashboard-container {
    background-color: #ded8d8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.metrics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.metric {
    padding: 10px;
    background-color: #b16e6e;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.metric h3 {
    margin: 0;
    font-size: 1.2rem;
}

.metric p {
    margin: 5px 0;
    font-size: 1.5rem;
}
